<!-- <app-dynamic-ad></app-dynamic-ad> -->
<!-- <app-advertisements></app-advertisements> -->
<a routerLink="pci">Parent Child Interaction</a>
<br/>
<a routerLink="dc">Dynamic Component</a>
<br/>
<a routerLink="vc">View Child</a>
<br/>
<!-- Page Refreshes on using href whereas that does not happen on RouterLink -->
<a href="http://localhost:4200/form">TDF Form</a>
<br/>
<a routerLink="reactive-forms">Reactive Form (Model Driven)</a>


<br/>
<br/>
<h2>Exemplary Topics</h2>

<br/>
<br/>

<h3>Pipes</h3>
<input #inputNumber placeholder="Enter power of 2" type="text" name="" id="" (keyup)="0">
<p> 2 <sup>{{inputNumber.value ? inputNumber.value : 0}}</sup> = {{ 2 | expPower: inputNumber.value}}</p>
<p>Number Inputted : {{inputNumber.value}}</p>
<hr/>
<router-outlet></router-outlet>